.span-1 {
  color: rgb(105, 105, 252);
}

.span-2 {
  color: rgb(252, 105, 105);
}

.span-3 {
  color: rgb(105, 252, 105);
}
code {
  background: #0a0a0a;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
}

pre {
  background: #0a0a0a;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}
